#container {
	margin: 0px auto;

	height: 700px;
	border: 1px gray solid;
}
#top {
	height: 70px;
	font: "微软雅黑" 50px;
}
#main {

	height: 640px;
	border: 1px gray solid;
}
#bottom {
	width: 1000px;
	height: 70px;
	float: left;
}