#container{
	width: 1000px;
	height: 700px;
	background: yellow;
	margin: auto;
	border: 1px gray solid;
}
#banner{
	width: 950px;
	height: 60px;
	background: lightblue;
	border: 1px gray solid;
	margin: 50px 25px 25px 25px;
}
#content{
	width: 750px;
	height: 460px;
	background: lightsalmon;
	border: 1px gray solid;
	float: left;
	margin: 0px 25px 25px 25px;	
}
#links{
	width: 175px;
	height: 460px;
	background: greenyellow;
	border: 1px gray solid;
	float: left;
}
#footer{
	width: 950px;
	height: 50px;
	background: pink;
	border: 1px gray solid;
	float: left;
	margin-left: 25px;
}
